*{
    padding:0;
    margin:0;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    gap: 20px; 
    background-color: rgba(68, 47, 107, 0.63);              
}

.container{
    background-color:white;
    padding:20px;
    border-radius:50px;
    min-height:45vh;
}

.form{
    margin:2rem 0 2rem 0;

}

form select,button,input{
    width:100%;
    display:block;
    margin-left:10px auto 0;
    border-radius:5px;
    outline:none;
    
}

form input{
    border:2px solid black;
    font-size:1rem;
    height:3 rem;
    padding-left:1 rem;
}

input:hover{
    background-color:rgba(43, 234, 123, 0.558);
}
input{
    margin-top:30px;
}

form button{
  height:3rem;
  display: block; 
  margin: 20px auto 0;         
  width: 60%;
  background-color:rgba(255, 127, 129, 0.736);
  color:white;
  cursor:pointer;
}

button:hover{
    background-color:hotpink;
}

.dropdown{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:2 rem;
}
.select-container img{
    max-width:2 rem;
}

